
<div class="container-fluid">
     <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{thisMonth}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalAmount}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Completed Orders
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{totalCompleteOrders}}</div>
                                                </div>
                                                {{!-- <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div> --}}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-shop-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Orders</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalPendingOrders}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="ps-4 pb-2">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class=" pt-4 pb-2">
                                        <canvas id="myPieChart"> </canvas>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class=" pt-4 pb-4">
                                        <canvas id="categoryChart" ></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class=" pt-4 pb-3">
                                        <canvas id="orderChart" style="height: min-content;"></canvas>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
</div>
<input type="number" id="totalUpi" value="{{totalUpi}}" class="d-none">
<input type="number" id="totalCod" value="{{totalCod}}" class="d-none">
<input type="number" id="totalPendingOrders" value="{{totalPendingOrders}}" class="d-none">
<input type="number" id="totalCompleteOrders" value="{{totalCompleteOrders}}" class="d-none">
{{!-- monthly income --}}
<input type="number" id="jan" value="{{jan}}" class="d-none">
<input type="number" id="feb" value="{{feb}}" class="d-none">
<input type="number" id="mar" value="{{mar}}" class="d-none">
<input type="number" id="apr" value="{{apr}}" class="d-none">
<input type="number" id="may" value="{{may}}" class="d-none">
<input type="number" id="jun" value="{{jun}}" class="d-none">
<input type="number" id="jul" value="{{jul}}" class="d-none">
<input type="number" id="aug" value="{{aug}}" class="d-none">
<input type="number" id="sep" value="{{sep}}" class="d-none">
<input type="number" id="oct" value="{{oct}}" class="d-none">
<input type="number" id="nov" value="{{nov}}" class="d-none">
<input type="number" id="dec" value="{{dec}}" class="d-none">



<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    let myAreaChart = document.getElementById('myAreaChart').getContext('2d');
    let myPieChart = document.getElementById('myPieChart').getContext('2d')
    let myCategoryChart = document.getElementById('categoryChart').getContext('2d');
    let myOrderChart = document.getElementById('orderChart').getContext('2d');
    const totalUpi = document.getElementById('totalUpi').value
    const totalCod = document.getElementById('totalCod').value
    const totalPendingOrders = document.getElementById('totalPendingOrders').value
    const totalCompleteOrders = document.getElementById('totalCompleteOrders').value
    // monthly income
    const jan = document.getElementById('jan').value
        const feb = document.getElementById('feb').value
    const mar = document.getElementById('mar').value
    const apr = document.getElementById('apr').value
    const may = document.getElementById('may').value
    const jun = document.getElementById('jun').value
    const jul = document.getElementById('jul').value
    const aug = document.getElementById('aug').value
    const sep = document.getElementById('sep').value
    const oct = document.getElementById('oct').value
    const nov = document.getElementById('nov').value
    const dec = document.getElementById('dec').value

      let categoryChart = new Chart(myCategoryChart,{
        type:'bar',
        data:{
            labels:['Boston','worecaster','jdhfdhk','hdjdj','shfbhdfd'],
            datasets:[{
                label:'population',
                data:[
                3435437,
                2345463,
                7465674,
                8476876,
                7367574
                
               
                ],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }]
        },
        options: {
           plugins: {
            legend: {
            display: false
            }
        }
        }

    })


    let barChart = new Chart(myAreaChart,{
        type:'line',
        data:{
            labels:['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],
            datasets:[{
                label:'population',
                data:[
                jan,
                feb,
                mar,
                apr,
                may,
                jun,
                jul,
                aug,
                sep,
                oct,
                nov,
                dec
               
                ],
                backgroundColor:[
                'green',
                'black',
                'orange',
                'pink',
                'grey',
                'yellow',
                'red',
                'rgba(54, 192, 235, 1)',
                'rgba(255, 106, 86, 1)',
                'rgba(75, 202, 192, 1)',
                'rgba(134, 192, 235, 1)',
                'rgba(55, 106, 86, 1)',

                ]
            }]
        },
        options: {
        plugins: {
            legend: {
            display: false
            }
        }
        }

    })

    let pieChart = new Chart(myPieChart,{
        type:'doughnut',
        data:{
            labels:['COD','UPI'],
            datasets:[{
                label:['Cash On Delivery', 'UPI payment'],
                data:[
                totalCod,
                totalUpi
                ],
                backgroundColor:[
                'rgba(134, 192, 235, 1)',
                'rgba(55, 106, 86, 1)',
               
                ]
            }]
        },
        options: {
        plugins: {
            legend: {
            display: true
            }
        }
        }

    })





    let orderChart = new Chart(myOrderChart,{
        type:'doughnut',
        data:{
            labels:['Pending Orders','Completed Orders'],
            datasets:[{
                label:['Pending Orders', 'Completed Orders'],
                data:[
                totalPendingOrders,
                totalCompleteOrders
                ],
                backgroundColor:[
                'rgba(255, 106, 86, 1)',
                'rgba(75, 202, 192, 1)',
               
                ]
            }]
        },
        options: {
        plugins: {
            legend: {
            display: true
            }
        }
        }

    })
</script>
 