<div class="container-fluid mt-5">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 monthlyRevenue">₹ {{monthlyIncome}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800 yearlyRevenue">₹ {{annualIncome}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Cash On Delivery
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">₹ {{codtotal}}
                                    </div>
                                </div>
                                {{!-- <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div> --}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Razorpay</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {{razorpay}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview (monthly)</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="ps-4 pb-2">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class=" pt-4 pb-2">
                        <canvas id="myPieChart"> </canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Order Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class=" pt-4 pb-3">
                        <canvas id="orderChart" style="height: min-content;"></canvas>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview (yearly)</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class=" pt-4 pb-4">
                        <canvas id="yearlyRevenue"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{#each paymentOption}}
<input type="number" id='{{_id}}' value="{{totalRevenue}}" class="d-none">
{{/each}}
{{#each pendingOrders}}
<input type="number" id="{{_id}}" value="{{count}}" class="d-none">
{{/each}}
<input type="number" id="totalCompleteOrders" value="{{totalCompleteOrders}}" class="d-none">
{{!-- monthly income --}}
{{#each revenue}}
<input type="number" id="{{_id}}" value={{totalPrice}} class="d-none">
{{/each}}
{{#each yearly}}
<input type="number" id="{{_id}}" value={{totalPrice}} class="d-none">
{{/each}}




<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    let myAreaChart = document.getElementById('myAreaChart').getContext('2d');
    let myPieChart = document.getElementById('myPieChart').getContext('2d')
    let myyearlyRevenue = document.getElementById('yearlyRevenue').getContext('2d');
    let myOrderChart = document.getElementById('orderChart').getContext('2d');
    const totalRazorpay = document.getElementById('RAZORPAY').value
    // const totaPaypal = document.getElementById('PAYPAL').value
    const totalCod = document.getElementById('COD').value
    const totalPendingOrders = document.getElementById('Pending').value
    const totalCompleteOrders = 9
    //monthly income
    let jan = 0; let feb = 0; let mar = 0; let apr = 0; let may = 0; let jun = 0; let jul = 0; let aug = 0;
    let sep = 0; let oct = 0; let nov = 0; let dec = 0;
    if (document.getElementById('1')) {

        jan = document.getElementById('1').value
    }
    if (document.getElementById('2')) {
        feb = document.getElementById('2').value
    }
    if (document.getElementById('3')) {
        mar = document.getElementById('3').value
    }
    if (document.getElementById('4')) {
        apr = document.getElementById('4').value
    }
    if (document.getElementById('5')) {
        may = document.getElementById('5').value
    }
    if (document.getElementById('6')) {
        jun = document.getElementById('6').value
    }
    if (document.getElementById('7')) {
        jul = document.getElementById('7').value
    }
    if (document.getElementById('8')) {
        aug = document.getElementById('8').value
    }
    if (document.getElementById('9')) {

        sep = document.getElementById('9').value
    }
    if (document.getElementById('10')) {
        oct = document.getElementById('10').value
    }
    if (document.getElementById('11')) {
        nov = document.getElementById('11').value
    }
    if (document.getElementById('12')) {
        dec = document.getElementById('12').value
    }


    let y2021 = 0; let y2022 = 0; let y2023 = 0; let y2024 = 0; let y2025 = 0; let y2026 = 0;
    if (document.getElementById('2021')) {
        y2021 = document.getElementById('2021').value
    }
    if (document.getElementById('2022')) {
        y2022 = document.getElementById('2022').value
    }
    if (document.getElementById('2023')) {
        y2023 = document.getElementById('2023').value
    }
    if (document.getElementById('2024')) {
        y2024 = document.getElementById('2024').value
    }
    if (document.getElementById('2025')) {
        y2025 = document.getElementById('2025').value
    }
    if (document.getElementById('2026')) {
        y2026 = document.getElementById('2026').value
    }




    let barChart = new Chart(myAreaChart, {
        type: 'line',
        data: {
            labels: ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'],
            datasets: [{
                label: 'population',
                data: [
                    jan,
                    feb,
                    mar,
                    apr,
                    may,
                    jun,
                    jul,
                    aug,
                    sep,
                    oct,
                    nov,
                    dec

                ],
                backgroundColor: [
                    'green',
                    'black',
                    'orange',
                    'pink',
                    'grey',
                    'yellow',
                    'red',
                    'rgba(54, 192, 235, 1)',
                    'rgba(255, 106, 86, 1)',
                    'rgba(75, 202, 192, 1)',
                    'rgba(134, 192, 235, 1)',
                    'rgba(55, 106, 86, 1)',

                ]
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }

    })


    let yearlyRevenue = new Chart(myyearlyRevenue, {
        type: 'bar',
        data: {
            labels: ['2021', '2022', '2023', '2024', '2025', '2026'],
            datasets: [{
                label: 'population',
                data: [
                    y2021,
                    y2022,
                    y2023,
                    y2024,
                    y2025,
                    y2026

                ],
                backgroundColor: [

                    'red',
                    'rgba(54, 192, 235, 0.5)',
                    'rgba(255, 106, 86, 0.5)',
                    'rgba(75, 202, 192, 0.5)',
                    'rgba(134, 192, 235, 0.5)',
                    'rgba(55, 106, 86, 0.5)',

                ]
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }

    })


    let pieChart = new Chart(myPieChart, {
        type: 'doughnut',
        data: {
            labels: ['COD', 'RAZORPAY', 'PAYPAL'],
            datasets: [{
                label: ['Cash On Delivery', 'UPI payment'],
                data: [
                    totalCod,
                    totalRazorpay,
                    // totaPaypal

                ],
                backgroundColor: [
                    'rgba(134, 192, 235, 1)',
                    'rgba(55, 106, 86, 1)',
                    'rgba(150, 106, 86, 1)'

                ]
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true
                }
            }
        }

    })





    let orderChart = new Chart(myOrderChart, {
        type: 'pie',
        data: {
            labels: ['Pending Orders', 'Completed Orders'],
            datasets: [{
                label: ['Pending Orders', 'Completed Orders'],
                data: [
                    totalPendingOrders,
                    totalCompleteOrders
                ],
                backgroundColor: [
                    'rgba(255, 106, 86, 1)',
                    'rgba(75, 202, 192, 1)',

                ]
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true
                }
            }
        }

    })
</script>