<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
  <!-- Start Cart Table -->
  <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
    <div class="container">
      <div class="row m-5">
        <h1><strong> Cart</strong></h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table_desc">
            <div class="table_page table-responsive">
              <table class="table">
                <!-- Start Cart Table Head -->
                <thead>
                  <tr>
                    <th class="product_remove">Delete</th>
                    <th class="product_thumb">Image</th>
                    <th class="product_name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product_quantity">Quantity</th>
                    <th class="product_total">Total</th>
                  </tr>
                </thead>
                <!-- End Cart Table Head -->
                <tbody>
                  <!-- Start Cart Single Item-->
                  <tr>
                    {{#with cart}}
                    {{#each cartItems}}
                    <td class="product_remove"><a href="/cart/{{_id}}"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td class="product_thumb"><a href="product-details-default.html"><img
                          src="/images/{{product.image.[1]}}" alt="" /></a></td>
                    <td class="product_name"><a href="product-details-default.html">{{product.productName}} </a></td>
                    <td class="product-price">{{product.discountPrice}}</td>
                    <td class="product_quantity">
                      {{!-- <input min="1" max="100" value="{{quantity}n }" id="{{product._id}}quantity" type="number"
                        onchange="quantityUpdate('{{product._id}}')" /> --}}
                      <div class="d-flex justify-content-around mt-2"> <button class="btn bg-dark text-white"
                          onclick="quantityIncriment('{{product._id}}')">+</button>
                        <input type="text" readonly value="{{quantity}}" id="{{product._id}}quantity">
                        <button class="btn bg-dark text-white "
                          onclick="quantityDicriment('{{product._id}}')">-</button>
                      </div>
                    </td>
                    <td class="product_total_table" id="product_total">{{price}}</td>
                  </tr>
                  {{/each}}
                  {{/with}}
                  <!-- End Cart Single Item-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Cart Table -->

  <!-- Start Coupon Start -->
  <div class="coupon_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
            <h3>Coupon</h3>
            <div class="coupon_inner">
              <p>Enter your coupon code if you have one.</p>
              <select class="mr-2" id="coupon">
                <option value="0">No coupon</option>
                {{#each validCoupon}}
                <option value="{{isPercent}}">'{{code}}' --- you get {{isPercent}} Off</option>
                {{/each}}
              </select>
              <button type="submit" class="btn btn-md btn-golden" id="couponApply">Apply coupon</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
            <h3>Cart Totals</h3>
            <div class="coupon_inner">
              <div class="cart_subtotal">
                <p>Subtotal</p>
                <p class="cart_amount" id="subtotal">$215.00</p>
              </div>
              <div class="cart_subtotal">
                <p>Discount</p>
                <p class="cart_amount"><span>Flat Rate:</span><span id="dis" class="text-success">00.00</span></p>
              </div>
              <a href="#">Calculate shipping</a>

              <div class="cart_subtotal">
                <p>Total</p>
                <p class="cart_amount" id="total">$215.00</p>
              </div>
              <div class="checkout_btn">
                <button class="btn btn-md btn-golden" onclick="proceedToCheckOut()">Proceed to Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Coupon Start -->
</div>
<!-- ...:::: End Cart Section:::... -->
<script>
  const subtotal = document.getElementById('subtotal')
  const stotal = document.querySelectorAll('.product_total_table')
  let total = 0
  let price = 0;

  stotal.forEach(el => {
    total = parseInt(el.innerHTML) + total
  })
  subtotal.innerHTML = total
  document.getElementById('total').innerHTML = subtotal.innerHTML
  let discount = total;
  document.getElementById('couponApply').addEventListener('click', async el => {
    const coupon = document.getElementById('coupon').value

    //const totalAmount =  subtotal.innerHTML ;
    discount = total - (total * (coupon / 100))
    price = discount
    document.getElementById('total').innerHTML = parseInt(discount)
    document.getElementById('dis').innerHTML = - parseInt(total - discount)
    const res = await axios({
      method: 'post',
      url: '/cartCoupon/offer',
      data: {
        price
      }
    })
  })

  async function proceedToCheckOut() {

    (discount > total) ? price = parseInt(total) : price = parseInt(discount);
    const res = await axios({
      method: 'post',
      url: '/cartCoupon/offer',
      data: {
        price
      }
    })
    location.assign('/checkout')
  }
  async function quantityUpdate(id) {
    const quantity = document.getElementById(`${id}quantity`).value
    try {
      const res = await axios({
        method: 'POST',
        url: `/cart/quantity/${id}`,
        data: {
          quantity
        }

      })
      if (res.data.status == 'success') {
        location.reload(true)
      }
    } catch (err) {
      alert(err.response.data.message)
    }
  }




  async function quantityIncriment(id) {
    console.log('inside the incriment function')
    const quantity = document.getElementById(`${id}quantity`).value
    try {
      const res = await axios({
        method: 'POST',
        url: `/cart/quantity/${id}`,
        data: {
          quantity,
          operation: 'inc'
        }

      })
      if (res.data.status == 'success') {
        document.getElementById(`${id}quantity`).value = res.data.quantity
        document.getElementById('product_total').value = res.data.price
        location.reload()
      }
    } catch (err) {
      console.log(err)
      alert(err.response.data.message)
    }

  }

  async function quantityDicriment(id) {
    const quantity = document.getElementById(`${id}quantity`).value
    try {
      const res = await axios({
        method: 'POST',
        url: `/cart/quantity/${id}`,
        data: {
          quantity,
          operation: 'dic'
        }

      })
      if (res.data.status == 'success') {
        document.getElementById(`${id}quantity`).value = res.data.quantity
        document.getElementById('product_total').value = res.data.price
        location.reload(true)

      }
    } catch (err) {
      alert(err.response.data.message)
    }
  }
</script>