<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

{{#with product}}

<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
<div class="product-details-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="product-details-gallery-area product-details-gallery-area-vartical product-details-gallery-area-vartical-left"
                    data-aos="fade-up" data-aos-delay="0">
                    <!-- Start Large Image -->
                    <div class="product-large-image product-large-image-vartical swiper-container ml-5">
                        <div class="swiper-wrapper">
                            {{#each image}}
                            <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive"
                                id="img-container">
                                <img src="/images/{{this}}" alt="">
                            </div>
                            {{/each}}

                            {{!-- <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                <img src="/images/product/default/home-1/default-2.jpg" alt="">
                            </div>
                            <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                <img src="/images/product/default/home-1/default-3.jpg" alt="">
                            </div>
                            <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                <img src="/images/product/default/home-1/default-4.jpg" alt="">
                            </div>
                            <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                <img src="/images/product/default/home-1/default-5.jpg" alt="">
                            </div>
                            <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                <img src="/images/product/default/home-1/default-6.jpg" alt="">
                            </div> --}}
                        </div>
                    </div>
                    <!-- End Large Image -->
                    <!-- Start Thumbnail Image -->
                    <div class="product-image-thumb product-image-thumb-vartical swiper-container pos-relative">
                        <div class="swiper-wrapper">
                            {{#each image}}
                            <div class="product-image-thumb-single swiper-slide">
                                <img class="img-fluid" src="/images/{{this}}" alt="">
                            </div>
                            {{/each}}
                            {{!-- <div class="product-image-thumb-single swiper-slide">
                                <img class="img-fluid" src="/images/product/default/home-1/default-2.jpg" alt="">
                            </div>
                            <div class="product-image-thumb-single swiper-slide">
                                <img class="img-fluid" src="/images/product/default/home-1/default-3.jpg" alt="">
                            </div>
                            <div class="product-image-thumb-single swiper-slide">
                                <img class="img-fluid" src="/images/product/default/home-1/default-4.jpg" alt="">
                            </div> --}}
                        </div>
                    </div>
                    <!-- End Thumbnail Image -->
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="product-details-content-area product-details--golden" data-aos="fade-up"
                    data-aos-delay="200">
                    <!-- Start  Product Details Text Area-->
                    <div class="product-details-text">
                        <h4 class="title">{{productName}}</h4>
                        {{#if ../avgRating}}
                        <div class="d-flex align-items-center">
                            <ul class="review-star">
                                {{../avgRating}} <img
                                    src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e"
                                    width="17rem">

                            </ul>
                            <a href="#" class="customer-review ml-2">(customer review )</a>
                        </div>
                        {{/if}}
                        <div class="price"><span class="product-list-price"><del>{{price}}</del>
                                Rs
                                {{discountPrice}} <span class="ml-4 text-success">{{/with}} {{discountOfferPrice}}% off
                                    {{#with product}}</span></span> </div>

                    </div>
                    <!-- End  Product Details Text Area-->
                    <!-- Start Product Variable Area -->
                    <div class="product-details-variable">
                        <h4 class="title">{{varient}}</h4>
                        <!-- Product Variable Single Item -->
                        <div class="variable-single-item">
                            <div class="product-stock">
                                {{#if ../outOfstock}}
                                <span>
                                    <p class="text-danger">Out of stock</p>
                                </span>
                                {{else}}

                                {{/if}}
                            </div>
                        </div>
                        <!-- Product Variable Single Item -->
                        <div class="variable-single-item">
                            <span>{{color}}</span>

                        </div>

                        <!-- Product Variable Single Item -->
                        {{!-- <div class="variable-single-item">
                            <span>Size</span>
                            <select class="product-variable-size">
                                <option selected value="1"> size in option</option>
                                <option value="2">s</option>
                                <option value="3">m</option>
                                <option value="4">l</option>
                                <option value="5">xl</option>
                                <option value="6">xxl</option>
                            </select>
                        </div> --}}
                        <!-- Product Variable Single Item -->
                        <div class="d-flex align-items-center ">



                            <div class="product-add-to-cart-btn">


                                {{/with}}


                                {{#if outOfstock}}
                                <button type="submit" class="btn bg-dark text-white">coming soon</button>
                                {{else}}
                                {{#if user}}
                                {{#with this.user}}
                                <form action="" id="addToCart">
                                    <input type="text" value="http://localhost:3000/cart/{{_id}}" id="addProduct"
                                        class="d-none">
                                    <button type="submit" class="btn bg-dark text-white">+Add To Cart</button>
                                </form>
                                {{/with}}

                                {{else}}
                                <button type="submit" class="btn bg-dark text-white" onclick="loginMessage()">+Add To
                                    Cart</button>

                                {{/if}}
                                {{/if}}
                                {{#with product}}
                            </div>

                        </div>

                    </div>
                    <!-- End Product Variable Area -->

                    <!-- Start  Product Details Catagories Area-->
                    {{!-- <div class="product-details-catagory mb-2">
                        <span class="title">CATEGORIES:</span>
                        <ul>
                            {{#each category}}
                            <li>{{categoryName}}</li>
                            {{/each}}
                        </ul>
                    </div> --}}
                    <!-- End  Product Details Catagories Area-->


                    <!-- Start  Product Details Social Area-->
                    {{!-- <div class="product-details-social">
                        <span class="title">SHARE THIS PRODUCT:</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div> --}}
                    <!-- End  Product Details Social Area-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Details Section -->

<!-- Start Product Content Tab Section -->
<div class="product-details-content-tab-section section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-details-content-tab-wrapper" data-aos="fade-up" data-aos-delay="0">

                    <!-- Start Product Details Tab Button -->
                    <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                        <li><a class="nav-link active" data-bs-toggle="tab" href="#description">
                                Description
                            </a></li>
                        <li><a class="nav-link" data-bs-toggle="tab" href="#specification">
                                Specification
                            </a></li>
                        <li><a class="nav-link" data-bs-toggle="tab" href="#review">
                                Reviews
                            </a></li>
                    </ul> <!-- End Product Details Tab Button -->

                    <!-- Start Product Details Tab Content -->
                    <div class="product-details-content-tab">
                        <div class="tab-content">
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane active show" id="description">
                                <div class="single-tab-content-item">
                                    <p>{{discription}}</p>
                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane" id="specification">
                                <div class="single-tab-content-item">
                                    <table class="table table-bordered mb-20">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Brand</th>
                                                <td>{{brand}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Colour</th>
                                                <td>{{color}}</td>
                                            <tr>
                                                <th scope="row">Properties</th>
                                                <td>Short Dress</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane" id="review">
                                {{#if ../permforReviw}}
                                <a href="/productReview/{{../product._id}}" class="btn border border-dark"><strong>add
                                        review</strong></a>
                                {{/if}}

                                <div class="single-tab-content-item">
                                    {{#if ../review}}
                                    {{#each ../review}}
                                    <!-- Start - Review Comment -->
                                    <ul class="comment mt-4">
                                        <!-- Start - Review Comment list-->
                                        <li class="comment-list">
                                            <div class="comment-wrapper">
                                                <div class="comment-img">
                                                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg"
                                                        alt="">
                                                    <h5>{{user.name}}</h5>
                                                </div>

                                                <div class="comment-content">
                                                    <div class="comment-content-top">
                                                        <div class="comment-content-left">
                                                            <div class="d-flex align-items-center">
                                                                <ul class="review-star">
                                                                    {{../../avgRating}} <img
                                                                        src="data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e"
                                                                        width="17rem">
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="para-content">
                                                        <p>{{review}}. </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Start - Review Comment Reply-->

                                        </li> <!-- End - Review Comment list-->

                                    </ul> <!-- End - Review Comment -->
                                    <hr>
                                    {{/each}}
                                    {{else}}
                                    <p><span><strong class="d-flex align-item-center">No Review Yet</strong></span></p>
                                    {{/if}}
                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->
                        </div>
                    </div> <!-- End Product Details Tab Content -->

                </div>
            </div>
        </div>
    </div>
</div> <!-- End Product Content Tab Section -->

<script>
    function loginMessage() {
        Toastify({
            text: "Please Login",
            className: "info",
            style: {
                background: "linear-gradient(to right, #FFA400, #FFA500)",
            }
        }).showToast();

    }

    var options = {
        width: 400,
        zoomWidth: 500,
        offset: { vertical: 0, horizontal: 10 }
    };
    new ImageZoom(document.getElementById("img-container"), options);

</script>
{{/with}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="/js/order.js"></script>