  <!-- ...:::: Start Wishlist Section:::... -->
    <div class="wishlist-section mt-5 mb-5">
        <!-- Start Cart Table -->
        <div class="wishlish-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Wishlist Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_stock">Stock Status</th>
                                            <th class="product_addcart">Add To Cart</th>
                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        <!-- Start Wishlist Single Item-->
                                        {{#with whishlist}}
                                        {{#each items}}
                                        <tr>
                                            <td class="product_remove"><a href="/whishlist/delete/{{_id}}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="/images/{{product_id.image.[1]}}"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">{{product_id.productName}}</a></td>
                                            <td class="product-price">₹{{product_id.price}}</td>
                                            <td class="product_stock">{{product_id.quantity}}</td>
                                            <td class="product_addcart">
                                                <button  class="btn bg-dark text-white" onclick="addtocart('{{product_id._id}}')">+Add To Cart</button>
                                            </td>
                                        </tr> 
                                        {{/each}}
                                        {{/with}}
                                        <!-- End Wishlist Single Item-->
                                        {{!-- <!-- Start Wishlist Single Item-->
                                        <tr>
                                            <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="assets/images/product/default/home-1/default-2.jpg"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">Handbags
                                                    justo</a></td>
                                            <td class="product-price">$90.00</td>
                                            <td class="product_stock">In Stock</td>
                                            <td class="product_addcart"><a href="#" class="btn btn-md btn-golden"
                                                    data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To
                                                    Cart</a></td>
                                        </tr> <!-- End Wishlist Single Item-->
                                        <!-- Start Wishlist Single Item-->
                                        <tr>
                                            <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_thumb"><a href="product-details-default.html"><img
                                                        src="assets/images/product/default/home-1/default-3.jpg"
                                                        alt=""></a></td>
                                            <td class="product_name"><a href="product-details-default.html">Handbag
                                                    elit</a></td>
                                            <td class="product-price">$80.00</td>
                                            <td class="product_stock">In Stock</td>
                                            <td class="product_addcart"><a href="#" class="btn btn-md btn-golden"
                                                    data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To
                                                    Cart</a></td>
                                        </tr> <!-- End Wishlist Single Item--> --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->
    </div> <!-- ...:::: End Wishlist Section:::... -->
    <script>
    

        async function addtocart(id){
          
           console.log('haiii')
            const quantity = 1 ;
            const url = `/cart/${id}`
            try{
                const res = await axios({
                    method:'post',
                    url,
                    data:{
                        quantity
                    }
                })
            console.log(res)
            if(res.data.data){
                alert('item already added to cart')
            }else{
                alert('item added to cart')
            }

            }catch(err){
                console.log(err)
                alert(err.response.data.message)
            }

        }
    </script>
