<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<!-- ...:::: Start Wishlist Section:::... -->
<div class="wishlist-section mt-5 mb-5">
    <!-- Start Cart Table -->
    <div class="wishlish-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row m-5">
                <h1><strong> Wishlist</strong></h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Wishlist Table Head -->
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_stock">Stock Status</th>
                                        <th class="product_addcart">Add To Cart</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody>
                                    <!-- Start Wishlist Single Item-->
                                    {{#if whishlist}}
                                    {{#with whishlist}}
                                    {{#each items}}
                                    <tr>
                                        <td class="product_remove"><a href="/whishlist/delete/{{_id}}"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                        <td class="product_thumb"><a href="product-details-default.html"><img
                                                    src="/images/{{product_id.image.[1]}}" alt=""></a></td>
                                        <td class="product_name"><a
                                                href="product-details-default.html">{{product_id.productName}}</a></td>
                                        <td class="product-price">₹{{product_id.price}}</td>
                                        {{#if product_id.quantity}}
                                        <td class="product_stock"> {{product_id.quantity}}
                                        <td class="product_addcart">
                                            <button class="btn bg-dark text-white"
                                                onclick="addtocart('{{product_id._id}}')" id="addToCart">+Add To
                                                Cart</button>
                                        </td>
                                        {{else}}
                                        <td><strong class="text-danger">Out of stock</strong></td>
                                        <td><button class="btn bg-danger text-white">Coming Soon</button></td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                    {{/with}}
                                    {{else}}
                                    No product in the wishlist
                                    {{/if}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->
</div> <!-- ...:::: End Wishlist Section:::... -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>





    async function addtocart(id) {

        const quantity = 1;
        const url = `/cart/${id}`
        try {
            const res = await axios({
                method: 'post',
                url,
                data: {
                    quantity
                }
            })
            if (res.data.data == 'item already added to cart') {
                Toastify({
                    text: "Item already in cart",
                    className: "info",
                    style: {
                        background: "linear-gradient(to right, #FFA400, #FFA500)",
                    }
                }).showToast();
            }
            else {

                Toastify({
                    text: "Item added to cart",
                    className: "info",
                    style: {
                        background: "linear-gradient(to right, #00b09b, #96c93d)",
                    }
                }).showToast();
            }

        } catch (err) {
            alert(err.response.data.message)
        }

    }
</script>